@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Nosifer&family=Oswald&family=Roboto+Slab:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgba(19, 33, 60, 1);
}
/*section-header*/
.section-header{
    text-align: center;
    margin-bottom: 50px;
}
.section-header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: aliceblue;
    line-height: 1.2;
}
/*testimonials*/
.testimonials{
    padding: 100px 0;
}
.testimonials-item{
    background-color: rgba(211, 220, 231, 1);
    padding: 30px;
    border-radius: 30px;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color:rgba(72, 98, 132, 1);
    line-height: 1.2;
}
.testimonials-item .job{
    text-transform: capitalize;
    color:rgba(72, 98, 132, 1);
}
.testimonials-item p{
    margin-top: 20px;
    color: rgba(72, 98, 132, 1);
}
.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: black;
}
.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: rgba(32, 90, 177, 1);
}