* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Roboto", sans-serif;
    color: #444444;
}

a {
    color: #ffc451;
    text-decoration: none;
}

a:hover {
    color: #ffd584;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 800px;
    position: absolute;
    text-align: center;
    z-index: 0;
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner img {
    width: 1500px;
    height: 500px;
    padding-top: 20px;
    position: center;
    cursor: pointer;
}

.hero-text {
    text-align: justify;
    position: absolute;
    top: 25%;
    left: 15%;
    right: 50%;
    bottom: 0%;
    color: rgb(255, 255, 255);
}

.hero-text h1 {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: .01rem;
}

.hero-text span {
    color: #ffffff;
    letter-spacing: .01rem;
}

.hero-text p {
    font-style: normal;
    font-weight: medium;
    color: rgb(255, 255, 255);
    letter-spacing: .01rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    width: 100%;
    height: 400px;
    padding-top: 560px;
    position: center;
    text-align: center;
    z-index: 0;
}

.raw-bx {
    width: 800px;
    text-align: center;
}

.about-text {
    text-align: center;
    position: absolute;
}

.about-text h1 {
    text-align: center;
}

.about-text p {
    text-align: center;
    width: fit-content;
    padding-left: 200px;
    padding-right: 200px;
    font-style: normal;
    font-weight: medium;
    color: rgb(0, 0, 0);
    letter-spacing: .01rem;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    padding-top: 200px;
}

.clients h1 {
    text-align: center;
}


.clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
}

.clients .swiper-slide img:hover {
    filter: none;
    opacity: 1;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #04002b6e;
}

/*--------------------------------------------------------------
# Vision
--------------------------------------------------------------*/
.vision-mission {
    background-color: #03011b;
    height: 300px;
    padding-top: 50px;
    padding-left: 120px;
}
.raws {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vision-mission .company-vision {
    max-width: 1200px;
    width: 100%;
    color: #ffffff;
}

.vision-mission .company-vision h2 {
    font-size: 48px;
    color: #ffaa00;
    max-width: 600px;
    line-height: 70px;
}

.vision-mission .company-vision p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
    text-align: justify;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    width: 100%;
    height: 400px;
    padding-top: 40px;
    position: center;
    text-align: center;
    z-index: 0;
}

.raw-cx {
    width: 800px;
    text-align: center;
}

.contact-text {
    text-align: center;
    position: absolute;
}

.contact-text h1 {
    text-align: center;
}

.contact-text p {
    text-align: center;
    width: fit-content;
    padding-left: 200px;
    padding-right: 200px;
    font-style: normal;
    font-weight: medium;
    color: rgb(0, 0, 0);
    letter-spacing: .01rem;
}

.contact-text span {
    text-align: center;
    font-weight: bold;
    width: fit-content;
    font-style: normal;
    font-weight: medium;
    color: rgb(0, 0, 0);
    letter-spacing: .01rem;
}

.rawds {
    justify-content: center;
    padding-top: 30px;
    display:flex;
    position: relative;
    width: 100%;
    align-items: center;
}

/*chatbot icon*/
    
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.chatbot-body {
    padding: 10px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.chatbot-icon i {
 font-size:28px;
}
.chatbot-modal {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 500px;
    height: 540px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.chatbot-header {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chatbot-close {
    float: right;
    cursor: pointer;
}		 
